@inherits LayoutComponentBase

<div class="page">
    <div class="top">
        <Nav/>
    </div>
    <div class="body">
        <main class="main">
            <SideBar/>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
    <div class="footer">
        <Footer />
    </div>
    


</div>
