
<div class="nav-container">
    <div class="nav-logo">
        <NavLink href="/">
            <img src="img/steclogo.png" />
        </NavLink>
    </div>
    @* <div class="nav-ctrl">
        <ul class="nav-ctrl-wrap">
            <li class="nav-ctrl-item">
                <button>func1</button>
            </li>
            <li class="nav-ctrl-item">
                <button>func2</button>
            </li>
            <li class="nav-ctrl-item">
                <button>func3</button>
            </li>
        </ul>
    </div> *@
    <div class="nav-tab">
        @* 로그인 여부 *@
        <ul class="nav-tab-wrap">
            <li class="nav-tab-item">
                <NavLink class="nav-tab-link" href="sign">Sgin in</NavLink>
            </li>
            <li class="nav-tab-item">
                <NavLink class="nav-tab-link" href="about">About</NavLink>
            </li>
        </ul>
    </div>

</div

@code {

}
