
<div class="table-container">
    <div class="table-wrap">
        <div class="table-header">
            <sapn>
                사업장 목록
            </sapn>
            <div class="table-header-func">
                <Input />
                <Button  Name="Add"/>
            </div>
        </div>
        <div class="table-body">
            <table>
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>